{% extends 'main.html' %}
{% block content %}
{% load static %}

    <header class="header--main-page">

        {% if user.is_authenticated %}
      <nav class="container container--70">

        {% include 'logged_menu.html' %}
        {% include 'menu.html' %}
      </nav>

     {% else %}
     <nav class="container container--70">
        <ul class="nav--actions">
          <li><a href="/login/" class="btn btn--small btn--without-border">Login</a></li>
          <li><a href="/register/" class="btn btn--small btn--highlighted">Create account</a></li>
        </ul>
          {% include 'menu.html' %}
      </nav>
     {% endif %}



      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Start helping!<br />
            Give your unwanted items in trusted hands
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ all_donations }}</em>
          <h3>Dedicated bags</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em>{{ all_institutions }}</em>
          <h3>Supported organizations</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>4 simple steps</h2>
      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Choose things</h3>
          <p>Clothes, toys, equipment and more</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Pack them</h3>
          <p>use garbage bags</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Decide who to help</h3>
          <p>choose a trusted place</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Order delivery</h3>
          <p>the delivery man will arrive at a convenient time</p>
        </div>
      </div>

      <a href="/login/" class="btn btn--large">Create account</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src= "{% static "images/signature.svg" %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static  "images/about-us.jpg" %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Who we help?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Foundations</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Non-governmental organizations</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Local collections</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>In our database you will find a list of verified Foundations with which we cooperate. You can check what they do, who they help and what they need.</p>

      <!--- Pagination--->

        {% include 'pagination.html' %}

      </div>

      <!--- SLIDE 2 --->
      <div class="help--slides" data-id="2">
        <p>
          In our database you will find a list of non-governmental organizations we cooperate with. You can check what they do, who they help and what they need.
        </p>
        <ul class="help--slides-items">
            {% for gov in non_gov_organizations %}
          <li>
            <div class="col">
              <div class="title">{{ gov.name }}</div>
              <div class="subtitle">{{ gov.description }}</div>
            </div>
            <div class="col"><div class="text">
            {{ gov.categories.all|join:", " }}
            </div></div>
          </li>
            {% endfor %}
        </ul>

        <!--- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="4">4</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="5">5</a></li>
        </ul>
        -->
      </div>

      <!--- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
        <ul class="help--slides-items">
             {% for col in collections %}

          <li>
            <div class="col">
              <div class="title">{{ col.name }}</div>
              <div class="subtitle">{{ col.description }}</div>
            </div>
            <div class="col"><div class="text">
            {{ col.categories.all|join:", " }}
            </div>
      </div>
          </li>
            {%  endfor %}
        </ul>

        <!--- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
        </ul>
        -->
      </div>
    </section>

{% include 'contact.html' %}

<script src="{% static "js/app.js" %}" ></script>

{% endblock %}
