{% extends 'main.html' %}
{% block content %}
{% load static %}
    <header class="header--form-page">
    {% if user.is_authenticated %}
      <nav class="container container--70">
        {% include 'logged_menu.html' %}
        {% include 'menu.html' %}
      </nav>

      <div class="slogan container container--90">
          <h2>
              You can change the settings now
          </h2>
      </div>
    </header>
    {% endif %}

{% include 'contact.html' %}

    <script src="{%  static "js/app.js" %}"></script>

{% endblock %}